* {
  box-sizing: border-box;
}

body {
  background: rgb(215, 234, 254);
  background-position: center;
  background-size: cover;
}

.greetings {
  z-index: 5;
  height: 150px;
  text-align: center;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  text-align: center;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
}

/*****************/
/* MAIN PAGE CSS */
/*****************/

#mainpage {
  z-index: -3;
  background-image: url(assets/mainpage.svg);
  width: 100vw;
}

.hello {
  z-index: 2;
  position: absolute;
  top: 200px;
  height: 80px;
  left: 350px;
}

#moon {
  z-index: 1;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 550px;
  /* border-radius: 100%; */
  background-image: url("assets/darkmoon.svg");
  background-size: cover;
  background-color: transparent;
  border-radius: 50%;
}

.contact {
  z-index: 5;
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline double black;
  position: absolute;
  bottom: 20px;
}

.contact-info {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.flying-avatar {
  z-index: 2;
  position: fixed;
  right: 10px;
  bottom: 0px;
  width: 150px;
  height: 160px;
  /* border-radius: 100%; */
  background-image: url("assets/jetpackgirl-Left.svg");
  background-size: cover;
  background-color: transparent;
}

.night-clouds {
  z-index: 5;
  position: absolute;
  width: 100vw;
}

.left-clouds {
  position: absolute;
}

.left-1 {
  width: 700px;
  height: 250px;
  top: 30px;
  left: -50px;
  background-image: url(assets/left-1.svg);
  background-size: cover;
  background-color: transparent;
}

.left-2 {
  width: 700px;
  height: 270px;
  top: 80px;
  left: 100px;
  background-image: url(assets/left-2.svg);
  background-size: cover;
  background-color: transparent;
}

.left-3 {
  width: 700px;
  height: 250px;
  top: 150px;
  left: 150px;
  background-image: url(assets/left-3.svg);
  background-size: cover;
  background-color: transparent;
}

.right-clouds {
  position: absolute;
}

.right-1 {
  width: 750px;
  height: 250px;
  top: 10px;
  right: -30px;
  background-image: url(assets/right-1.svg);
  background-size: cover;
  background-color: transparent;
}

.right-2 {
  width: 740px;
  height: 270px;
  top: 50px;
  right: 50px;
  background-image: url(assets/right-2.svg);
  background-size: cover;
  background-color: transparent;
}

.right-3 {
  width: 650px;
  height: 290px;
  top: 100px;
  right: 150px;
  background-image: url(assets/right-3.svg);
  background-size: cover;
  background-color: transparent;
}

.center-cloud {
  z-index: 6;
  width: 770px;
  height: 250px;
  top: 160px;
  left: 350px;
  position: absolute;
  background-image: url(assets/center.svg);
  background-size: cover;
  background-color: transparent;
}

/*****************/
/* PROJ PAGE CSS */
/*****************/

#proj-page {
  background-image: url(assets/projspage.svg);
}

#avatar-container {
  z-index: 2;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  /* border-radius: 100%; */
  background-image: url("assets/svg_avatar_blank.svg");
  background-size: cover;
  background-color: cadetblue;
  border: 5px solid black;
  border-radius: 50%;
}

.eye-container {
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 12px;
  height: 40px;
  width: 88px;
  background-color: transparent;
}

#rEye {
  z-index: 1;
  position: fixed;
  right: 120px;
  bottom: 105px;
  width: 10px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
}

#lEye {
  z-index: 1;
  position: fixed;
  right: 171px;
  bottom: 117px;
  width: 9px;
  height: 13px;
  border-radius: 50%;
  background-color: black;
}

#mouth {
  z-index: 4;
  position: fixed;
  right: 109px;
  bottom: 37px;
  width: 100px;
  height: 100px;
}

.smile {
  z-index: 5;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 70px;
  background: url("assets/closedMouth.svg");
  background-size: cover;
}

.speak {
  z-index: 5;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 70px;
  background-image: url("assets/openMouth.svg");
  background-size: cover;
}

.cloud {
  width: 550px;
  height: 220px;
  display: flex;
  flex-direction: column;
  background: #f2f9fe;
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;

  align-items: center;

  /* border: 1px solid black; */
}

.cloud:after,
.cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud:after {
  width: 200px;
  height: 200px;
  top: -90px;
  left: 70px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cloud:before {
  width: 300px;
  height: 300px;
  top: -130px;
  right: 70px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

.right {
  left: 225px;
  position: relative;
  margin: 500px auto 20px;
}

.left {
  right: 225px;
  position: relative;
  margin: 500px auto 20px;
}

#last-cloud {
  margin-bottom: 900px;
}

/****************/
/* PROJECTS CSS */
/****************/

.project {
  width: 210px;
  height: 110px;
  background-size: cover;
}

.pacman {
  background-image: url("project-refs/pacman.png");
  border-radius: 10%;
  border: 5px solid grey;
}

.pacman:hover {
  width: 600px;
  height: 400px;
  background-image: url("project-refs/pacman.gif");
  position: absolute;
  align-self: center;
}

.pacman-info {
  z-index: 2;
  width: 400px;
  height: 500px;
  background: white;
  position: absolute;
  left: 650px;
  top: -120px;
  display: none;
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 2em;
  border-radius: 25px;
}

.eyes {
  background-image: url("project-refs/eyes.png");
  border-radius: 20%;
  border: 5px solid grey;
}

.eyes:hover {
  width: 600px;
  height: 400px;
  background-image: url("project-refs/eyes.gif");
  position: absolute;
  align-self: center;
}

.eyes-info {
  z-index: 2;
  width: 400px;
  height: 660px;
  background: white;
  position: absolute;
  right: 650px;
  top: -150px;
  display: none;
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 2em;
  border-radius: 25px;
}

.bus {
  background-image: url("project-refs/bus.png");
  border-radius: 20%;
  border: 5px solid grey;
}

.bus:hover {
  width: 600px;
  height: 400px;
  background-image: url("project-refs/bus.gif");
  position: absolute;
  align-self: center;
  border-radius: 5%;
}

.bus-info {
  z-index: 2;
  width: 400px;
  height: 600px;
  background: white;
  position: absolute;
  left: 650px;
  top: -120px;
  display: none;
  font-size: 1.5em;
  line-height: 1.25 em;
  padding: 2em;
  border-radius: 25px;
}
