/*****************/
/* MAIN PAGE CSS */
/*****************/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500vh;
  background: rgb(215, 234, 254);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Main-container */

.main-container {
  width: 100%;
  height: 100%;
  background-image: url(assets/mainpage.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Name */

.greetings {
  position: absolute;
  width: 100%;
  border: 1px solid yellow;
  text-align: center;
  font-size: 3.5em;
  padding: 2em;
  padding-top: 2.5em;
  color: rgb(215, 234, 254);
  z-index: 1;
}

/* Moon */

.moon-container {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#moon {
  width: 20em;
  height: 20em;
  background-image: url("assets/darkmoon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
}

/* Clouds */

.cloud-container {
  width: 100%;
  position: absolute;
  border: 3px solid blue;
  z-index: 3;
}

.left-clouds,
.right-clouds,
.center-cloud {
  border: 1px solid white;
  width: 100%;
  max-width: 700px;
  height: 250px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  transition: all 1s ease-in-out;
  animation: moveCloudRow1 10s forwards;
}

/* calc(var(--scroll) * -1s) */

@keyframes moveCloudRow1 {
  100% {
    top: 100px;
  }
}

.row-2 {
  justify-content: space-around;
  align-items: center;
  top: 100px;
  transition: all 1s ease-in-out;
  animation: moveCloudRow2 5s forwards;
}

@keyframes moveCloudRow2 {
  100% {
    top: 150px;
    justify-content: space-between;
  }
}

.row-3 {
  justify-content: space-evenly;
  align-items: center;
  top: 200px;
  transition: all 1s ease-in-out;
  animation: moveCloudRow3 10s forwards;
}

@keyframes moveCloudRow1 {
  100% {
    top: 100px;
  }
}

.row-4 {
  justify-content: center;
  align-items: center;
  top: 250px;
  transition: all 1s ease-in-out;
  animation: moveCloudRow4 5s forwards;
}

@keyframes moveCloudRow1 {
  100% {
    top: 100px;
  }
}

.left-1 {
  background-image: url(assets/left-1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.left-2 {
  background-image: url(assets/left-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  float: left;
  margin-left: 50px;
  transition: all 1s ease-in-out;
  animation: moveCloudleft2 5s forwards;
} 

@keyframes moveCloudleft2 {
  100% {
    margin-left: 0;
  }
}

.left-3 {
  background-image: url(assets/left-3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.right-1 {
  background-image: url(assets/right-1.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.right-2 {
  background-image: url(assets/right-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  float: right;
  margin-right: 50px;
  transition: all 1s ease-in-out;
  animation: moveCloudRight2 5s forwards;
}

@keyframes moveCloudRight2 {
  100% {
    margin-right: 0;
  }
}

.right-3 {
  background-image: url(assets/right-3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.center-cloud {
  background-image: url(assets/center.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Avatar */
  
.flying-avatar {
  z-index: 2;
  position: fixed;
  right: 10px;
  bottom: 0px;
  width: 200px;
  height: 260px;
  background-image: url("assets/jetpackgirl-Left.svg");
  background-size: cover;
  background-color: transparent;
  animation: mymove 3s infinite;
}

@keyframes mymove {
  0%, 100% {
    bottom: 0;
  }

  50% {
    bottom: 20px;
  }
}